{% extends 'base.html' %}


{% block title %} Inventario {% endblock %}


{% block body %}

    <style>
        .btn-lightGray
        {
            
            cursor: pointer;
            outline: 0;
            color: #FFFFFF;
            background-color: #787878;
            border-color: #787878;
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 16px;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
        }

        .btn-lightGray:hover {
            color: #fff;
            background-color: #494949;
            border-color: #494949;          
        }
    </style>

    <div class="container">
        <div class="row">
          <div class="col-8">
            <h1 class="text-light">Inventario</h1>
          </div>
          <div class="col-4">
            <button class="btn btn-lightGray float-end" data-bs-toggle="modal" data-bs-target="#insert_modal">Crear nuevo producto</button>
          </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <button class="btn btn-lightGray float-end" data-bs-toggle="modal" data-bs-target="#insert_modal">Buscar</button>
              </div>
        </div>
      </div>
    

    

    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <table class="table table-success table-striped table-hover" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                     <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.price}}</td>
                        <td>
                            <a href="/update/{{book.id}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modaledit{{book.id}}">Update</a>
                             <a href="/delete/{{book.id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete ?')">Delete</a>
                        </td>
                    </tr>


                     <!-- update model -->
 <div id="modaledit{{book.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Update Book</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('update')}}" method="POST">


               <div class="form-group">

                  <label>Title:</label>
		           <input type="hidden"  name="id" value="{{book.id}}">
                  <input type="text" class="form-control" name="title" value="{{book.title}}" >

               </div>



                <div class="form-group">
                  <label>Author:</label>
                  <input type="text" class="form-control" name="author" value="{{book.author}}">
               </div>

                 <div class="form-group">
                  <label>Price:</label>
                  <input type="number" class="form-control" name="price" value="{{book.price}}">
               </div>

               <div class="form-group">
                  <button class="btn btn-primary mt-4" type="submit">Update Book</button>
               </div>


            </form>


         </div>


         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

         </div>


      </div>


   </div>


</div>



                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}